<div class="files-upload">
    <div class="files-upload__header">
      <h3>Files uploading</h3>
    </div>
    <div class="files-upload__content">
      <ng-container *ngIf="!files.length">
        <div
          class="dropzone"
          appDropZone
          (dropped)="onDrop($event)"
          (hovered)="toggleHover($event)"
          [class.dropzone_hovered]="isHovering"
        >
          <span class="dropzone__label">Drop files here or</span>
          <div class="dropzone__file">
            <label class="file">
              <input
                type="text"
                class="file__input"
                [multiple]="data.multiple"
                type="file"
                (change)="onDrop($any($event).target.files)"

              >
              <span class="file__label">choose</span>
            </label>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="files">
        <app-upload
          (completed)="onUploadComplete($event)"
          [file]="file"
          *ngFor="let file of files">

        </app-upload>
      </ng-container>

      <div class="error" *ngIf="isError">
        Choose only one file
      </div>
    </div>
    <div class="files-upload__footer">

    </div>
</div>
